@charset "UTF-8";

#chat_box::-webkit-scrollbar {
	display: none;
}

#content {
	width: 100%;
	height: 500px;
}

#chatArea {
	border: 1px solid black;
	width: 75%;
	display: none;
	float: left;
	border: 0;
}

#profileArea {
	border: 1px solid black;
	border-left: 0;
	width: 25%;
	display: none;
	height: 622px;
	width: 25%;
	overflow: auto;
}

#chat_box {
	width: 100%;
	height: 500px;
	min-height: 550px;
	border: 1px solid black;
	position: relative;
	overflow: auto;
	background-color: #B2C7D9;
}

#chat_input {
	border: 0;
}

#list {
	width: 700px;
	height: 500px;
	margin: 0 auto;
}

#input_msg {
	width: 90%;
	height: 72px;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	resize: none;
}

#msg_process {
	width: 10%;
	height: 72px;
	float: right;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	border-top: 0;
	background-color: white;
	text-decoration: none;
}

.noticebox {
	width: 100%;
	padding: 4px 10px;
	font-weight: bold;
	background-color: white;
	opacity: 0.7;
}

#msgbox {
	width: 100%;
	padding: 4px 10px;
}

#alarmMsg {
	background: white;
}

#msg {
	display: inline-block;
	padding: 10px;
	border-radius: 15%;
	background-color: #ECDB51;
}

#noticemsg hr {
	margin: 5px 0;
	border-color: black;
}

.time {
	font-size: 11px;
	color: gray;
	padding: 0 5px;
}

.receivebox {
	font-weight: bold;
}

.alarmbox {
	color: gray;
	font-weight: bold;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.area {
	margin: 0 auto;
	background-color: blue;
}

.profileTitle {
	padding-top: 8px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.profileImg {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 10px auto;
}

.profileName {
	text-align: center;
	margin: 6px 0;
}

.profileSubTitle {
	font-weight: bold;
	text-align: center;
}

.profileSubContent {
	margin: 0 2px;
	text-align: center;
}

hr {
	margin: 0;
	padding: 0;
}

.review {
	margin: 10px 6px;
}

.reviewName {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	float: left;
	padding-right: 6px;
}

.reviewStar {
	display: inline-block;
}

.reviewDate {
	color: gray;
	margin-left: 2px;
	font-size: 11px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	position: fixed;
	margin: 25% 25%;
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.profileImg {
	width: 100px;
	height: 100px;
	border: 0px;
	border-radius: 50%;
	margin: 10px auto;
	border-radius: 50%;
}

.con_p1 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.con_p2 {
	text-align: center;
}

#requesr_user h2 {
	font-weight: bold;
}

#buttons {
	margin-bottom: 5px;
}

#buttons a {
	margin-right: 5px;
}

iframe {
	width: 100%;
	height: 100vh;
	border: 0px;
}

#chatRoomList {
	
}

.est_wrap {
	border: 1px solid #d8d8d8;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 0;
}

.est_user {
	padding: 0 10px;
}

.est_user_img {
	float: left;
	width: auto;
	margin-right: 10px;
	display: inline-block;
}

.est_user_img img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.est_user_info {
	cursor: pointer;
}

.list_name {
	font-weight: bold;
	font-size: 16px;
	margin: 5px 0;
}

.list_msg {
	font-size: 15px;
	margin: 5px 0;
}

.list_date {
	float: right;
	margin: 5px 0;
}

/* .topFixBanner {
	text-align: left;
	background-color: #ffffff;
	padding: 20px 0px 20px 20px;
	width: 100%;
	border-bottom: #666666 solid 2px;
}

.topFixBannerFixed {
	position: fixed;
	top: 0px;
	text-align: left;
	padding-left: 20px;
} */