<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 필수 속성이다. : dao 식별하기 위한 이름 -->
<mapper namespace="com.yal.toti.baek.dao.ChatSessionDao">
	<select id="selectMemberById"
		resultType="com.yal.toti.baek.domain.MemberInfo">
		select * from toti_member where m_id = #{param1}
	</select>

	<select id="selectAllList"
		resultType="com.yal.toti.baek.domain.EstInfo">
		select est.est_idx, req.cate_idx, est.mento_idx, req.m_idx,
		est.est_price, est.est_cont from toti_estimatee as est join
		toti_request as req
		on est.request_idx = req.request_idx where
		mento_idx = #{param1}
	</select>

	<select id="selectChatRoomListByUser"
		resultType="com.yal.toti.baek.domain.ChatRoomInfo">
		select room.room_num, room.room_user, (select m_name from
		toti.toti_member
		where m_idx = room.room_user) as room_username
		,
		(select m_photo from toti.toti_member where m_idx = room.room_user)
		as
		room_userphoto
		, room.room_target, (select m_name from toti.toti_member
		where m_idx =
		room.room_target) as room_targetname
		, (select m_photo
		from toti.toti_member where m_idx = room.room_target)
		as
		room_targetphoto
		, (select message from toti.toti_chatlog where
		message_num =
		room.last_msg) as room_lastmsg
		, (select message_date from
		toti.toti_chatlog where message_num =
		room.last_msg) as
		room_lastmsgTime
		, (select cate_name from toti.toti_cate where cate_idx
		= room.room_cat)
		as cate_name
		, (select service_name from
		toti.toti_service where service_idx =
		(select service_idx from
		toti.toti_mentee_service where request_idx =
		(select request_idx from
		toti.toti_estimatee where est_idx =
		room.room_num))) as service_name
		from toti.toti_chatroom as room where room_user = #{param1} or
		room_target = #{param1};
	</select>

	<select id="searchChatRoom" resultType="String">
		select distinct room_num
		from
		toti_chatroom where room_num = #{param1};
	</select>

	<select id="searchTargetName" resultType="String">
		select distinct
		member.m_name from toti.toti_chatroom as chatroom join
		toti.toti_member as member on chatroom.room_target = member.m_idx
		where room_target = #{param1} and room_num = #{param2};
	</select>

	<select id="searchUserName" resultType="String">
		select distinct m_name
		from
		toti.toti_member where m_idx = #{param1}
	</select>

	<select id="searchTargetNameByUser" resultType="String">
		select distinct
		member.m_name from toti.toti_chatroom as chatroom join
		toti.toti_member as member on chatroom.room_user = member.m_idx
		where
		room_user = #{param1} and room_num = #{param2};
	</select>

	<select id="selectMentorCheck" resultType="_int">
		select distinct
		room_user from
		toti.toti_chatroom where
		room_num = #{param1};
	</select>

	<insert id="insertChatRoom">
		insert into toti_chatroom(room_num, room_cat,
		room_user, room_target, est_price, est_cont)
		values(#{param1},
		#{param2}, #{param3},
		#{param4}, (select est_price from
		toti.toti_estimatee where est_idx = #{param1}), (select est_cont from
		toti.toti_estimatee where est_idx = #{param1}))
	</insert>

	<insert id="insertChatlog">
		insert into toti.toti_chatlog (message, message_date,
		room_num, msg_user) values (#{param1}, #{param2}, #{param3},
		#{param4});
	</insert>

	<update id="updateLastMsgAtChatRoom">
		update toti.toti_chatroom set last_msg = #{param1}
		where room_num = #{param2}
	</update>

	<select id="selectMentorProfile"
		resultType="com.yal.toti.baek.domain.MentorProfile">
		SELECT mentor.mento_idx, member.m_id, member.m_name,
		member.m_gender,
		member.m_photo, member.m_date, mentor.p_shot,
		mentor.p_pay,
		mentor.p_edu, mentor.p_career, mentor.p_long FROM
		toti.toti_mentor_profile as mentor join toti.toti_member as member on
		mentor.mento_idx = member.m_idx where mento_idx = #{param1};
	</select>

	<select id="selectMentorReview"
		resultType="com.yal.toti.baek.domain.MentorReview">
		SELECT review.m_idx, member.m_name, review.review_star,
		review.review_cont, review.review_date FROM toti.toti_review as review
		join toti.toti_member as member on review.m_idx = member.m_idx where
		review.mento_idx = #{param1} order by m_idx limit 0, 3;
	</select>

	<select id="selectReqNum" resultType="_int">
		select distinct request_idx
		from
		toti.toti_estimatee where est_idx = #{param1};
	</select>
</mapper>